<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:each="eachBan : ${banners}">
    <h3 th:text="${eachBan.name}"></h3>
    <h3 th:text="${eachBan.content}"></h3>
    <h3 th:text="${eachBan.price}"></h3>
    <h3 th:text="${eachBan.deleted}"></h3>
</div>
</body>
</html>